a{
    background-color: aqua;

}
body{

    background-image: url(akro.jpg);
}
.link li a{
    color: brown;

}
.img{
    background-color:blue;
    text-align: center;
    
}
img{
    border-radius: 200px;
    background-color: red;
    text-align: center;
}
.linkli b{
    bg
    background:blue;
    text-align:center ;
}
